# ===============================
# Python / Django
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
*.swp
.env
venv/
ENV/
env/
*.bak
*.DS_Store

# Django media/static
media/
staticfiles/

# ===============================
# Node.js
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ===============================
# VSCode / IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS / Khác
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Backup / Temp
# ===============================
*.bak
*.tmp
*.old
